#about {
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    display: flex;
}

.text, .pic {
    width: 50%;
}


.picReveal {
    width: 550px;
    height: 550px;
    border-radius: 380px;
    animation: reveal 5s;
    background: url("../img/profile.png") no-repeat center;
}


.pic  div, div  img {
    left: 50%;
    position: relative;
    top: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.text  {
    background-color: #ffffff;
    height: 80%;
    font-size: 30px;
    text-align: center;
    
}

.textAnim {
  animation: RevealShadow 1.5s;
  animation-name: RevealShadow;
  box-shadow: inset 3px 4px 5px #000000;
}

.text h2,  p {
    position: relative;
    top: 35%;
}

.text h2 {
    animation: revealText 3S;
    opacity: 100%;
}


.text p {
    margin: 2% 0 0 5%;
    line-height: 1.5em;
    width: 90%;
    overflow: auto;
}

.about-button {
    color: #fa3c3c;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    margin-left: 12px;
    margin-right: 12px;
    text-decoration: none;
}

.about-button:hover, .about-button:focus {
    text-decoration: underline #f08080;
    outline: none;
}


/*-------------------------------*/

@keyframes RevealShadow {
    from { box-shadow: none;}
    to {box-shadow: inset 3px 4px 5px #000000;}
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 100%;}
}

@keyframes revealText {
    from { opacity: 0; }
    to { opacity: 100%;}
}

/*-------------------------*/
@media only screen and (max-width: 1200px) {
  .text, .pic div {
      box-shadow: none;
      animation-name: none;
      background-color: #f08080
  }

  .text, p {
      color: white;
      width: 50%;
      height: 80%;
      font-size: 20px;
      margin: auto;
  }

  .pic-reveal {
    height: 100%
  }

  .pic div {
      width: 100%;
      border-radius: 0;
      top: 50%
  }

  
  .text h2,  p {
    top: 35%
  }

  .about-button {
      color: #ffffff;
  }
}

/*------------------phones portrait mode-----------------------*/
@media only screen and (max-width: 812px) {
  #about {
    display: block;
    height: 100vh;
  }
  
  #about  div {
      width: 100%;
      height: 50%;
      font-size: 20px;
      text-align: center;
  }
  
  #about div .picReveal {
    top: 40%;
    height: 80%;
}
  
  .pic  div, div  img {
      top: 0;
      height: 100%;
      border-radius: 0;
  }
  
  .text h2,  p {
    top: 0
  }
  
  .text, p {
      width: 50%;
      padding-top: 0px;
      margin: auto;
  }
  
  .text p {
      margin: 3% 0 0 5%;
      line-height: 30px;
  }
  
  .about-button {
      font-size: 20px;
  }
}


