@font-face {
  font-family: myFont;
  src: url(../assets/AxeonRegular-vmyL4.otf);
}

header {
    width: 100%;
    height: 100vh;
}

#coverImageContainer {
    height: 100vh;
    animation-name: RemoveBlur;
    animation-duration: 2s;
    background: url("../img/try.png") no-repeat fixed center;
    background-size: cover;
    filter: blur(0);
    -webkit-filter: blur(0);
}

nav {
    width: 100%;
    height: 40px;
    background-color: #000000;
    position: fixed;
    z-index: 1;
}

nav ul {
    text-align: center;
    transform: translateY(25%);
    font-size: 25px;
}

.nav-item {
    display: inline;
    margin-left: 2%;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #f08080;
    border-bottom: 2px solid #f08080;
}

header h1 {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 80px;
    color: #f08080;
    font-family: myFont;
}

.neonText {
  color: #f08080;
  text-shadow:
      0 0 7px #f08080,
      0 0 10px #f08080,
      0 0 21px #f08080,
      0 0 42px #f08080,
      0 0 82px #f08080,
      0 0 92px #f08080,
      0 0 102px #f08080,
      0 0 151px #f08080;
}

@keyframes RemoveBlur {
    from {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    to {
        filter: blur(0);
        -webkit-filter: blur(0);
    }
}
