#projects {
    width: 100%;
    height: 140vh;

}

#projects h2 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

#projectList {
    width: 100%;
    display: grid;
    /*grid-template-columns: auto auto auto auto auto;*/
    grid-column-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    position: relative;
    bottom: 0;
    z-index: 0;
    animation-name: slideDown;
    animation-duration: 3s;
}

#projectList a {
    color: white;
}

.project {
    /*width: 100%;*/
    height: 250px;
    border-radius: 300px;
    margin: 25% 40px 0 40px;
    background-image: url("./githubV2.svg");
    background-position: center;
    background-size: cover;
    color: rgba(0, 0, 0, 0);
    font-size: 18px;
}



.project:hover,
.project:focus{
    cursor: pointer;
    background-image: url("./githubV3.svg");
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
    filter: blur(1px);
    -webkit-filter: blur(0.5px);
}

@keyframes slideDown {
    from {
        bottom: 1010px;
        z-index: -1;
    }
    to {
        bottom: 0;
        z-index: -1;
    }
}

svg {
    position: relative;
}

/*----------------*/
@media only screen and (max-width: 1550px) {
    #projects {
        width: 100%;
        height: 100vh;
        background-color: white;
    }

    #projectList {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .project {
        height: 100px;
        width: 100px;
        border-radius: 150px;
        margin: 25% 40px 0 40px;
        box-shadow: 10px 10px;
    }
}
