#projects {
    width: 100%;
    /*height: 100vh;*/
}

.projectList {
  visibility: hidden;
}

.projectList-reveal {
    width: 100%;
    display: grid;
    grid-column-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    position: relative;
    bottom: 0;
    z-index: 0;
    animation-name: slideDown;
    animation-duration: 3s;
}

.project {
    height: 250px;
    border-radius: 300px;
    margin: 25% 10% 0 10%;
    background-image: url("./githubV2.svg");
    background-position: center;
    background-size: cover;
}

.wave {
  visibility: hidden;
}

.wave-anim {
    position: relative;
    transform: scale(1, -1) translate(0, 1px);
    animation: rev 0.5s;
}

.project:hover,
.project:focus{
    cursor: pointer;
    background-image: url("./githubV3.svg");
}

@keyframes slideDown {
    from {
        bottom: 1010px;
        z-index: -1;
    } to {
        bottom: 0;
        z-index: -1;
    }
}

@keyframes rev {
  from {
    /*transform: scale(60,  -1);*/
    transform: scale(1, -1) translate(0, 350px);
  } to {
    /*transform: scale(1, -1); */
    transform: scale(1, -1) translate(0, 1px);
  }
}

